<link rel="stylesheet" href="/css/task/add.css" />

<div class="content_block">
    <div class="label">
        Название
    </div>
    <div class="input">
        <input type="text">
    </div>
</div>

<div class="content_block">
    <div class="label">
        Общее описание
    </div>
    <div class="input">
        <input type="text">
    </div>
</div>

<div class="content_block">
    <div class="label">
        Примечания
    </div>
    <div class="input-area">
        <textarea type="text"></textarea>
    </div>
</div>






























