<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/user/user.css">
    <link rel="stylesheet" href="css/general.css">
    <link href="css/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/js/jquery.min.js"></script>
    <title>
        user
    </title>
</head>
<script src="/js/smooth-scrollbar.js"></script>

<body>
    <div id="app">
        <header>
            <div id="head-logo">XBustle</div>
            <div class="head-btns">
                <div class="head-btn active" id="tasks">Задачи</div>
                <div class="head-btn non-active" id="team">Моя команда</div>
                <div class="head-btn non-active" id="story">История</div>
                <div class="right-btns">
                    <div class="head-btn" id="mail"><i class="mdi mdi-email-outline"></i></div>
                    <div class="head-btn" id="notify"><i class="mdi mdi-bell-outline"></i></div>
                    <div class="head-btn" id="user">
                        <%= user.name %>
                    </div>
                </div>
            </div>
        </header>
        <left-bar>
            <div class="user-info">
                <div class="user-avatar"></div>
                <div class="user-data">
                    <div class="name">Денис<br>Ворончихин</div>
                    <div class="desc">17 лет</div>
                </div>
            </div>
            <div class="menu-bar">
                <div class="menu-title">
                    Задачи
                </div>
                <div class="menu-items">
                    <div id="list" class="menu-item active">Список</div>
                    <div id="add" class="menu-item">Добавить</div>
                    <div id="story" class="menu-item">История</div>
                </div>
            </div>
        </left-bar>
        <app-area>

            <main>
                <% include task/add %>
            </main>
        </app-area>
        <footer>
            Все права защищены
        </footer>
    </div>
</body>
<script src="/js/windowManager.js"></script>
<script src="/js/socket.io.js"></script>
<script src="/js/socket-client.js"></script>
<script>
    $('app-area').css('overflow', 'auto');
    Scrollbar.init($('app-area')[0], {
        thumbMinSize: 100,
        damping: 0.5
    });


    var ctx = socketContext(io, 'http://localhost:4000');
    var socket = ctx.socket;

    socket.on('complete', function(data) {
        console.log(data);
        window.generalTeam = data.team;
        window.generalUser = data.user;
        socket.username = generalUser;

        for (let user in generalTeam) {
            //$('select[name=task_to]')[0].innerHTML += `<option value=${generalTeam[user].id}>${generalTeam[user].name}</option>`;
        }
    });

    $('left-bar .menu-bar .menu-items #add').on('click', function() {
        $.get({
            url: '/task/add',
            success: (data) => {
                $('left-bar .menu-bar .menu-item').each((i, e) => {
                    $(e).removeClass('active');
                });
                $(`left-bar .menu-bar .menu-items #add`).toggleClass('active');
                $('app-area main').html(data);
            }
        });
    });


    $('.socket-btn').on('click', function() {
        let data = {
            id: socket.id,
            to: $('select[name=task_to]').val(),
            task: {
                creater: generalUser.name,
                title: $('input[name=task_title]').val(),
                desc: $('input[name=task_desc]').val()
            }
        };
        ctx.send('event', data, (res) => {
            console.log(res);
        });
    });

    ctx.listen('msg', function(data) {
        console.log(data);
    });

    ctx.listen('event', function(data) {
        console.log(data)
    });

    ctx.listen('task', function(data) {
        console.log(data);
        $('.tasks')[0].innerHTML +=
            `<h4>${data.title}</h4><p>${data.creater}</p><h5>${data.desc}</h5>`;
    });
</script>

</html>