

.title {
    font-family: Helvetica;
    font-size: 26px;
    color: #9bc1fb;
    margin: 0 10px;
}


.content-block .setting-title {
    font-family: Helvetica;
    font-size: 16px;
    color: #9bc1fb;
    margin-bottom: 7px;
}

.content-block .input {
    margin-bottom: 7px;
}

.content-block .input .u-input {
    border: 0;
    width: calc(100% - 30px);
    background-color: transparent;
    height: 20px;
    font-family: PlayRegular;
    font-size: 30px;
    color: white;
    padding: 10px;
}

.content-block .input .u-input:focus
{
    border-bottom: 3px solid #06ff00;
    outline: none;
    background-color: #010630;
}





































