@font-face {
    font-family: PlayBold;
    src: url("assets/fonts/PlayBold.ttf");
}
@font-face {
    font-family: PlayRegular;
    src: url("assets/fonts/PlayRegular.ttf");
}
@font-face {
    font-family: Helvetica;
    src: url("assets/fonts/Helvetica.otf");
}
@font-face {
    font-family: HelveticaBold;
    src: url("assets/fonts/HelveticaBold/HelveticaBold.ttf");
}
@font-face {
    font-family: ProximaRegular;
    src: url("assets/fonts/ProximaNovaRegular/ProximaNovaRegular.ttf");
}
@font-face {
    font-family: AgoraBold;
    src: url("assets/fonts/AgoraSansProBold/AgoraSansProBold.ttf");
}